
.articlesBody {
  background-color: var(--white);

/* titleBlock */

  .m_pageTitle {
    width: 80%;
    margin: 13vw auto 20vw;
    position: relative;

    .a_h1 {
      font-size: 10vw;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
    }

    .q_decorationBracket {
      width: 15vw;
      height: 33vw;
      position: absolute;
    }

    #leftPillow {
      top: -11vw;
      left: 0vw;
    }

    #rightPillow {
      top: -11vw;
      left: 65vw;
    }
  }

/* */

/* mainTextBlock */

  .m_h2Container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 40vw auto 15vw;
    
    .a_h2Container {
      text-align: center;
      line-height: 5vw;
      font-size: 5vw;
      font-weight: 600;
      color: var(--black);

    }

    .q_decorationLetter {
      width: 6vw;
      height: 6vw;
      position: absolute;
    }

    #o {
      left: 13vw;
      top: -1vw;
      opacity: 0.8;
    }

    #m {
      left: 36.5vw;
      top: -1vw;
      opacity: 0.8;
    }
    
    #b {
      left: 49.5vw;
      top: -1vw;
      opacity: 0.95;
    }

    .a_articlesMainText {
      font-size: 1.4vw;
      width: 40vw;
      margin-top: 8vw;
      margin-left: -41vw;
      line-height: 1.6vw;

      span {
        color: var(--blue);
        font-weight: 600;
      }
      
    }

    .q_circlesImage {
      position: absolute;
      border-radius: 100%;
    }

    #circ1 {
      width: 12vw;
      height: 12vw;
      background-image: url("../images/articles/circ1.webp");
      background-size: 110%;
      background-position: -1vw -4vw;
      animation: shake1 1.8s linear infinite;

      left: 21vw;
      top: -16vw;
    }

    #circ2 {
      width: 9vw;
      height: 9vw;
      background-image: url("../images/articles/circ2.webp");
      background-size: 110%;
      background-position: -1vw -3vw;
      animation: shake3 1.8s linear infinite;

      left: 65vw;
      top: -13vw;
    }

    #circ3 {
      width: 16vw;
      height: 16vw;
      background-image: url("../images/articles/circ3.webp");
      background-size: 105%;
      background-position: -1vw -6vw;
      animation: shake4 1.8s linear infinite;

      left: 58vw;
      top: 7vw;
    }

    #circ4 {
      width: 10vw;
      height: 10vw;
      background-image: url("../images/articles/circ4.webp");
      background-size: 105%;
      background-position: 1vw -1vw;
      animation: shake4 1.5s linear infinite;

      left: 80vw;
      top: 7vw;
    }
  }

/* */

/* findAndFilter */

  .w_searchAndTags {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;

    .a_search {
      width: 30vw;
      height: 4vw;
      border-radius: var(--borderRadius);
      border: 0.15vw var(--black) solid;
    } 

    .a_search {
      outline:none;
      background-color: var(--white);
    }


    .a_search::placeholder  {
     padding: 1vw;
     color: var(--black);
     font-family: "Unbounded";
     font-size: 1.4vw;
    }

    .q_articlesTagsOpen {
      pointer-events: all;
      width: 3vw;
      cursor: pointer;
    }

    .c_articlesTas {
      width: 100%;
      overflow: hidden;
      height: 0vw;
      position: relative;
      margin-top: 3vw;
      transition: all 0.3s ease-in-out;

      .tasBlock {
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: start;
        flex-wrap: wrap;

        button {
          padding: 1vw 3vw;
          margin: 1.5vw 2vw 0 0;
          background-color: var(--blue);
          border-radius: 2vw;
          color: var(--white);
          font-size: 2vw;
          opacity: 0.6;
          transition: all 0.2s ease-in-out;
        }

        .activee {
          opacity: 1;
          transition: all 0.2s ease-in-out;
          pointer-events: all;
        }

        button:hover {
          opacity: 1;
        }
      }
    }



  }

/* */

/* articles */

  .c_articlesContainer {
    width: 80%;
    margin: 10vw auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    .w_articleCardAndTime {
      width: 32%;
      margin-bottom: 2vw;
      display: none;

      .a_articleTime {
        font-size: 1.3vw;
        width: fit-content;
        margin: 1vw auto;
        opacity: 0.8;

      }


      .o_articleCard {
        width: 100%;
        height: 35vw;
        background-color: var(--blue);
        border-radius: 1.5vw;
      
        background-size: 100% 110%; 
        position: relative;
        display: flex;

        .a_articlesOpenButton {
          width: 4vw;
          height: 4vw;
          border-radius: 100%;
          background-color: var(--white);
          position: absolute;

          right: 1vw;
          top: 1vw;
          width: 4vw;
          height: 4vw;
          display: flex;
          justify-content: center;
          align-items: center;

          .q_articlesOpenIcon {
            width: 1.5vw;
            height: 1.5vw;
          }

        }

        .a_articleName {
          font-size: 1.3vw;
          position: absolute;
          left: 1vw;
          bottom: 1vw;
          font-weight: 600;
          width: 55%;
          height: fit-content;

          padding: 0.7vw 0.7vw;
          background-color: var(--white);
          border-radius: 0.5vw;

          line-height: 1.4vw;
        }

        .a_articlesDescriptionButton {
          width: 4vw;
          height: 4vw;
          border-radius: 100%;
          background-color: var(--white);
          position: absolute;

          bottom: 1vw;
          right: 1vw;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 666;

          .q_articlesDescriptionIcon {
            width: 1.5vw;
            height: 1.5vw;
          }
        }

        .articleCardRotated {
          width: 100%;
          height: 100%;
          background-color: var(--blue);
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 1.5vw;
        }

      }

      .articleCardRotated {
        padding: 1vw;
        display: flex;
        justify-content:flex-start;
        align-items: end;


        .a_articleDescription {
          color: var(--white);
          width: 90%;
          background-color: transparent;
          opacity: 1;
          position: absolute;
          top: 1vw;
        }

        .c_tagsArticleCard {
          width: 70%;
          height: fit-content;
          display: flex;
          background-color: transparent;
          border-radius: 0;
          flex-wrap: wrap;
          justify-content: left;

          .a_tagArticleCard {
            border-radius: 4vw;
            position:unset;
            opacity: 1;
            text-align: center;
            margin: 1vw 1vw 0 0;
            color: var(--black);
            width: auto;
            background-color: var(--white);
            font-weight: 600;
          }

        }
      }

    }

    .showed {
      display: block;
    }



  }


  /* */

  /* secondMainText */

  .secondMainText {
    margin: 15vw auto 15vw;

    .a_h2Container {
      text-align: center;
      line-height: 5vw;
      font-size: 4.5vw;
      font-weight: 600;
      color: var(--black);
    }

    .q_decorationLetter {
      width: 6vw;
      height: 6vw;
      position: absolute;
    }

    #oS {
      left: 19.3vw;
      top: -1vw;
      opacity: 0.8;
    }

    #mS {
      left: 63vw;
      top: -1vw;
      opacity: 1;
    }

    #bS {
      left: 74.1vw;
      top: 5vw;
      opacity: 1;
    }

    #eS {
      left: 44.3vw;
      top: 10vw;
      opacity: 1;
    }

  }

  /* */

  /* littleAnimation */

  .q_decorationLetter {
    transition: all 0.2s ease-in-out;
  }

  .q_decorationLetter:hover {
    width: 6.3vw;
    height: 6.3vw;
    transition: all 0.2s ease-in-out;
  }

  /* */

/*adaptive */

@media (max-width: 695px) {
  .m_pageTitle {
    .a_h1 {
      font-size: 12vw;
    }

    #leftPillow {
      left: -6vw;
    }

    #rightPillow {
      left: 71.5vw;
    }
  }

  .m_h2Container {
    align-items: start;
    width: 83%;
    margin-left: auto;
    margin-left: auto;

    .a_articlesMainText {
      font-size: 2.6vw;
      line-height: 3vw;
      width: 54vw;
      margin-left: 0;
    }

    .a_h2Container {
      font-size: 5vw;
      line-height: 5.4vw;
      text-align: center;
    }

    #o {
      left: 4.2vw;
      top: -1vw;
      opacity: 0.8;
    }

    #m {
      left: 27.5vw;
      top: -1vw;
      opacity: 0.8;
    }
    
    #b {
      left: 40.3vw;
      top: -1vw;
      opacity: 0.95;
    }
  }

  .secondMainText {
    #oS {
      left: 16.5vw;
      top: -1vw;
      opacity: 0.8;
    }

    #mS {
      left: 65vw;
      top: -1vw;
      opacity: 1;
    }

    #bS {
      left: 37vw;
      top: 10vw;
      opacity: 1;
    }

    #eS {
      left: 35.5vw;
      top: 16vw;
      opacity: 1;
    }
  }

  .w_searchAndTags {
    .a_search {
      height: 8vw;
      border-radius: 2vw;
    }

    .a_search::placeholder {
      padding-bottom: 1vw;
      font-size: 3vw;
      padding-left: 3vw;
    }

    .a_search {
      width: 55vw;
    }

    .q_articlesTagsOpen {
      width: 8vw;
    }
  }

  .c_articlesContainer {
    .w_articleCardAndTime {

      .a_articleTime {
        font-size: 3vw;
        margin-top: 2vw;
      }

      .articleCardRotated {
        padding: 2vw;
      }

      .a_articleDescription {
        font-size: 3vw;
        margin-top: 2vw;
      }

      .o_articleCard {
        .a_articlesOpenButton {
          right: 2vw;
          top: 2vw;
          width: 9vw;
          height: 9vw;

          .q_articlesOpenIcon {
            width: 6vw;
            height: 6vw;
          }
          
        }

        .a_articleName {
          bottom: 2vw;
          left: 2vw;
          padding: 2vw;
          border-radius: 2vw;
        }

        .a_articlesDescriptionButton {
          bottom: 2vw;
          right: 2vw;

          width: 9vw;
          height: 9vw;

          .q_articlesDescriptionIcon {
            width: 5vw;
            height: 5vw;
          }
        }
      }
    }
  }
}
  
/* */


}
