* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
font-family: "Unbounded";
font-size: 1.5vw;
font-weight: 400;
color: var(--black);
background-color: var(--white);
}

body::-webkit-scrollbar { width: 0; }

::selection {
background: var(--blue);
}


body {
  &.test {
    main{
      height: fit-content;
      display: flex;
      align-items: center;
    }
    height: 90vh;
  }

  &.preview {
    background-color: var(--blue);
    overflow: hidden;
  }

  &.styleguide {
    width: 100vw;
    background-color: var(--white);
    
    padding: 2vw 0vw;
  }
}


@media (max-width: 695px) {

  .test {
    main {
      height: calc(100vh - 21vw);
      display: block;
    }
    height: 100vh;
  }

}