* {
    box-sizing: border-box;
  }
 
html,
body {
  height: 100%;
}
  
body {
  font-family: "Unbounded";
  font-size: 1.5vw;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}

body::-webkit-scrollbar { width: 0; }

::selection {
  background: var(--blue);
}

/* navigation */

.navigation {
  width: 90%;
  margin: 0vw auto;
  display: none;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    font-family:  "unbounded";
    color: var(--black);
    font-weight: 600;
    text-transform: lowercase;
    font-size: 1.5vw;
    transition: all 0.25s ease;
  }

  a:hover {
    color: var(--blue);
    transition: all 0.25s ease;
  }

  .choosenA {
    color: var(--blue);
  }
}

/* */

/* logotip */

.logo {
  width: 7.5vw;
  height: 7vw;
  background-image: url("../images/aboutUs/logoHeader.webp");
  background-size: 120% 100%;
  transition: all 0.3s ease;

}

/* */


/* footer */

footer {
  margin-top: 7vw;
  width: 100%;
  background-color: var(--black);
  border-top-left-radius: 3vw;
  border-top-right-radius: 3vw;
  padding: 2vw;
  display: flex;
  justify-content: space-around;
  align-items: end;
  font-weight: 400;

  p {
    font-size: 1.13vw;
    color: var(--white);
    line-height: 1.5vw;
  }

  span {
    font-weight: 600;
  }

  .media {
    margin-left: -10vw;
  }
}

@media (max-width: 695px) {
  footer {
    padding: 5vw 2.5vw;
    p {
      font-size: 2vw;
      line-height: 2.3vw;
    }
  }
}

/* */


/* preloader */

#preloader {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: var(--white); 
  z-index: 9999999999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s ease-in-out;

  video {
    background-color: var(--white);
    width: 40vw;
  }

}

/* */

/* burgerMenu for Phone ONLY */

#mobileNav{
  position: fixed;
  width: 100vw;
  z-index: 999999999999999999;
  top: 0;
  height: 15vw;
  background-color: var(--white);
  transition: all 0.31s ease-in-out;
  border-bottom-right-radius: 3vw;
  border-bottom-left-radius: 3vw;

  ul {
    display: flex;
    width: 90%;
    margin: 1vw auto;
    justify-content: space-between;
    align-items: center;
    height: 13vw;
  }

/* logotip */

.logo {
  width: 16.5vw;
  height: 17vw;
  background-image: url("../images/aboutUs/logoHeader.webp");
  background-size: 120% 100%;
  transition: all 0.2s ease-in-out;
  background-repeat: no-repeat;
}


/* */

}


.burgerNav {
  width: 100vw;
  height: 100vh;
  background-color: var(--blue);
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  padding: 30vw 0;
  transition: all 0.3s ease-in-out;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    height: 40vh;
    width: 90%;

    a {
        font-size: 7vw;
        color: var(--white);
        font-weight: 600;
    }
  }
}



/* burgerBtn */

.burger {
  display: block;
  width: 15vw;
  margin: 0vw auto;
  position: relative;

  span{
    display: block;
    width: 11vw;
    height: 1.2vw;
    margin-bottom: 1.9vw;
    border-radius: 10px;
    background-color: var(--blue);
    top: 0;
    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  span:nth-child(3) {
    margin-bottom: 0vw;
  }
}

.burger.open {
  span:nth-child(2) {
  opacity: 0;
  }

  span:nth-child(1) {
    transform: rotate(45deg);
    top: 0vw;
    margin-bottom: -4vw;
    background-color: var(--white);
  }

  span:nth-child(3) {
    transform: rotate(-45deg);
    top: -0vw;
    margin-bottom: -4vw;
    background-color: var(--white);
  }
}

/* */

/* */


/* roundedBlockStyle */

.backgroundBorderRadius {
  background-color: var(--white);
  height: 5vw;
  width: 100vw;
  z-index: 999;
  position: relative;
}

.upRound {
  border-bottom-right-radius: 3vw;
  border-bottom-left-radius: 3vw;
}

.downRound {
  border-top-right-radius: 3vw;
  border-top-left-radius: 3vw;
  margin-top: -3vw;
}

/* */

/* circlesAnimations */

@keyframes shake1 {
  0% { transform: translate(2px, 3px) }
  50% { transform: translate(-2px, 3px) }
  100% { transform: translate(2px, 3px) }
}

@keyframes shake2 {
  0% { transform: translate(-3px, 2px) }
  50% { transform: translate(3px, -2px) }
  100% { transform: translate(-3px, 2px) }
}

@keyframes shake3 {
  0% { transform: translate(-1px, 3px) }
  50% { transform: translate(3px, -2px) }
  100% { transform: translate(-1px, 3px) }
}

@keyframes shake4 {
  0% { transform: translate(2px, 1px) }
  50% { transform: translate(-3px, 3px) }
  100% { transform: translate(2px, 1px) }
}