input {
  all: unset;
} 

body {
    overflow-x: hidden;
}


.aboutUs {
  background-color: var(--white);
  padding: 1vw 0;

  /* TitleText */

  .o_aboutUsTitle {
    width: 90%;
    margin: 7vw auto 0 auto;

    .a_aboutUsTitle {
      font-size: 5vw;
      font-weight: 600;
    }

    .w_underTitleTexts {
      display: flex;
      justify-content: space-between;
      margin-top: 3vw;

      .a_textUnderTitle {
        font-size: 1.3vw;
       }
    }
  }

  .blueText {
    color: var(--blue);
  }

  /* */

  /* 3dLogoScreen */

  .logoScreenContainer {
    z-index: -1;
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    position: relative;
    z-index: -1;
    margin-top: -4vw;

    video {
      position: absolute;
      width: 110vw;
      top: -10vw;
      left: -5vw;
    }

    .newCard {
      width: 25vw;
      height: 25vw;
      border-radius: var(--borderRadius);
	    background: var(--blue);
      position: absolute;
      right: 10vw;
      top: 15vw;
      padding: 1.3vw;

      box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
	    background-color: rgba(183, 194, 218, 0.41);
	
	    backdrop-filter: blur(8px);
    }

    h4 {
      font-size: 3vw;
      font-weight: 600;
      color: var(--white);
      margin-bottom: 2vw;
    }

    p {
      font-size: 1.5vw;
      font-weight: 400;
      color: var(--white);
    }

    .link {
      font-weight: 600;
      margin-top: 8vw;
      text-align: end;
      font-size: 1vw;
    }

  }

  /* */

  /* H2TitleBlock */

  .m_h2Container {
    width: 100%;
    margin-top: 5vw;
    position: relative;
    
    .a_subTitle{
      text-align: center;
      line-height: 5vw;
      font-size: 5vw;
      font-weight: 600;
      color: var(--black);
    }

    .q_imageDecorationLetter {
      width: 6vw;
      height: 6vw;
      position: absolute;
    }

    #o {
      top: -0.5vw;
      left: 14vw;
      opacity: 0.8;
    }

    #h {
      top: -0.5vw;
      left: 41.5vw;
    }

    #m {
      top: 5vw;
      left: 70vw;
      opacity: 0.9;
    }

    #a {
      top: 10vw;
      left: 59vw;
    }

    /* littleAnimation */

    .q_imageDecorationLetter {
      transition: all 0.2s ease-in-out;
    }

    .q_imageDecorationLetter:hover {
      width: 6.3vw;
      height: 6.3vw;
      transition: all 0.2s ease-in-out;
    }

    /* */

  }

  /* */

  /*miniText*/

  .miniText {
    width: 39vw;
    font-size: 1.4vw;
    color: var(--black);
    margin-left: 8vw;
    margin-top: 12vw;

    span {
      color: var(--blue);
      font-weight: 600;;
    }
  }

  /* */

  /* missionText */

  .m_missionText {
    width: 58vw;
    margin: 22vw auto;
    position: relative;

    .a_missionText {
      font-size: 3vw;
    }

    .q_decorationBracketLeft {
      position: absolute;
      width: 17vw;

      left: -17vw;
      top: -13vw;
    }

    .q_decorationBracketRight {
      position: absolute;
      width: 17vw;

      left: 57vw;
      top: -12vw;
    }
  }

  /* */

  /* facts */

  .s_factsContainer {
    width: 90%;
    margin: 0vw auto;
    padding: 5vw;
    position: relative;

    .c_factCirclesRow {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-bottom: 5vw;
      left: 0;

      .m_factCircle {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;

        .a_factsButton {
          width: 7vw;
          height: 7vw;
          border-radius: 100%;
          filter: brightness(110%);
          background-image: url("../images/aboutUs/blueTexture2.webp");
          background-size: 140% 140%;
          transition: all 0.5s;
        }

        .bigCircle {
          width: 8vw;
          height: 8vw;
          background-image: url("../images/aboutUs/blackTexture2.webp");
          transition: all 0.5s;
        }

        img {
          width: 6vw;
          height: 6vw; 
          position: absolute;
          z-index: -1;
          opacity: 0;
          transition: all 0.3s;
        }

        .biggerText {
          width: 12vw;
          height: 12vw; 
          opacity: 1;
          transition: all 0.3s;
        }
        
      }

      #btn1 {
        left: 5.5%;
      }

      #btn2 {
        left: 25.5%;
      }

      #btn3 {
        left: 45.5%;
      }

      #btn4 {
        left: 65.5%;
      }

      #btn5 {
        left: 85.5%;
      }

      #btn6 {
        display: none;
      }

    }

    .w_facts {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin-bottom: 8vw;

      .m_factsText {

        .a_aboutUsSubTitle {
          font-size: 6vw;
          font-weight: 600;
          text-transform: capitalize;
          margin-bottom: 2vw;
        }

        .a_factsInstructionText {
          font-size: 1.5vw;
          opacity: 0.3;
          font-weight: 400;
        }
      }

      .m_factCard {
        width: 30vw;
        height: 18vw;
        border-radius: var(--borderRadius);
        background-color: rgb(218, 226, 235);
        padding: 1.8vw;

        .m_factCardTexts {
          display: none;
          opacity: 0;
          transition: all 0.5s ease-in-out;
        }

        .a_factHeader {
          font-size: 2vw;
          font-weight: 600;
          text-transform: capitalize;
          margin-bottom: 2vw;
        }

        .a_factText {
           font-size: 1vw;
        }
      }
    }

  }

  /* */

  /* 3dTextScreen */

  .ThreeScreenContainer {
    z-index: -1;
    width: 100vw;
    height: 50vw;
    overflow: hidden;
    position: relative;
    z-index: -1;
    margin-top: -4vw;

    video {
      position: absolute;
      width: 115vw;
      top: -13vw;
      left: -10vw;
    }

    p {
      position: absolute;
      font-size: 1vw;
      font-weight: 600;
      color: var(--white);
      text-transform: uppercase;
      opacity: 0.9;
    }

    .first3DText {
      top: 35vw;
      left: 14.5vw;
    }

    .second3DText {
      top: 14vw;
      left: 68vw;
      text-align: end;
    }

  }

  /* */

  /* articles */

  .s_articlesAboutUsContainer {
    width: 90%;
    margin: 0vw auto;

    .a_aboutUsSubTitle {
      font-size: 6vw;
      font-weight: 600;
      text-transform: capitalize;
      margin-bottom: 5vw;
    }

    .o_articlesSlider {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .a_arrowNavigation {
      width: 7vw;
      height: 16vw;
      transition: all 0.2s ease-in-out;
    }

    .m_aboutUsArticleCard {
      width: 50vw;
      height: 30vw;
      border-radius: var(--borderRadius);
      background-image: url("../images/aboutUs/article1.webp");
      background-size: 100% 100%;
      position: relative;

      .articleInnerCard {
        width: 18vw;
        height: 12vw;
        border-radius: var(--borderRadius);
        background: var(--blue);
        position: absolute;
        right: 4vw;
        top: 17vw;
        padding: 1.3vw;
  
        box-shadow: 0 0 0.7rem 0 rgba(0, 0, 0, .3);	
        background-color: rgba(182, 195, 225, 0.41);
    
        backdrop-filter: blur(10px);
      }
  
      h4 {
        font-size: 1.5vw;
        font-weight: 600;
        color: var(--white);
        margin-bottom: 2vw;
        text-align: left;
      }
  
      p, a {
        font-size: 0.9vw;
        font-weight: 600;
        color: var(--white);
        text-align: left;
      }

      .cardLink {
        font-weight: 600;
        margin-top: 13.5vw;
        text-align: end;
        position: absolute;
        bottom: 1.3vw;
        right: 1.3vw;

      }
    }

    .a_sliderSwitcher {
      width: 10vw;
      display: flex;
      justify-content: space-between;
      margin: 2vw auto;

      .q_sliderbuttton {
        width: 1.2vw;
        height: 1.2vw;
        opacity: 0.6;
        background-image: url("../images/aboutUs/blueTexture2.webp");
        background-size: 100% 100%;
        border-radius: 100%;
      }

      .picked {
        opacity: 0.8;
        background-image: url("../images/aboutUs/blackTexture2.webp");
      }
    }

  }

  /* */


/*adaptive */

@media (max-width: 695px) {

  .o_aboutUsTitle {
    width: 90%;

    .a_aboutUsTitle {
      font-size: 6.3vw;
    }

    .w_underTitleTexts {
      margin-top: 4vw;

      .a_textUnderTitle {
        font-size: 1.7vw;
      }
    }
  }

  .m_missionText {
    width: 69.5%;

    .q_decorationBracketLeft {
      left: -15vw;
    }

    .q_decorationBracketRight {
      left: 67.5vw;
    }
    
    .a_missionText {
      font-size: 3.6vw;

      span {
        font-weight: 600;
      }
    }
  }

  .logoScreenContainer {
    height: 78vw;

    video {
      top: -7vw;
      left: -18vw;
      width: 140vw;
    }

    .newCard {
      width: 40%;
      height: 40%;
      top: 39vw;
      right: 4vw;
      padding: 3vw;
      border-radius: 2.5vw;

      h4 {
        font-size: 4vw;
      }
      
      p {
        font-size: 2vw;
      }

      .link {
        font-size: 1.5vw;
        margin-top: 7vw;
      }
    }
  }

  .miniText {
    font-size: 1.8vw;
    width: 50vw;
  }

  .s_factsContainer {
    width: 90%;
    margin: 0vw auto;
    padding: 5vw 2vw;
    position: relative;

    .w_facts {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      margin-bottom: 8vw;

      .m_factsText {
        margin-bottom: 6vw;

        .a_aboutUsSubTitle {
          font-size: 10vw;
        }

        .a_factsInstructionText {
          font-size: 2.5vw;
        }
      }

      .m_factCard {
        width: 100%;
        height: 40vw;
        padding: 4vw;
        border-radius: 2.5vw;
        margin-top: 5vw;

        .m_factCardTexts {
          width: 100%;

          .a_factHeader {
            font-size: 4.5vw;
            margin-bottom: 4vw;
          }

          .a_factText {
            font-size: 3vw;
          }
        }
      }
    }

    .c_factCirclesRow {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 8vw;
      left: 0;
      margin: auto;
      padding: 0;
      

      .m_factCircle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: inherit;
        margin-bottom: 5vw;
        margin-right: 5vw;
        margin-left: 5vw;

        .a_factsButton {
          width: 18vw;
          height: 18vw;
          border-radius: 100%;
          filter: brightness(110%);
          background-image: url("../images/aboutUs/blueTexture2.webp");
          background-size: 140% 140%;
          transition: all 0.5s;
        }

  

        .bigCircle {
          width: 17vw;
          height: 17vw;
          background-image: url("../images/aboutUs/blackTexture2.webp");
          transition: all 0.5s;
        }

        img {
          width: 17vw;
          height: 17vw; 
          position: absolute;
          z-index: -1;
          opacity: 0;
          transition: all 0.3s;
        }

        .biggerText {
          width: 24vw;
          height: 24vw; 
          opacity: 1;
          transition: all 0.3s;
        }
        
      }

      #btn6 {
        display: flex;
      }

    }

  }

  .ThreeScreenContainer {
    height: 78vw;
    video {
      width: 140vw;
      left: -24vw;
      top: -8vw;
    }

    p {
      font-size: 1.5vw;
      line-height: 1.8vw;
      width: 40vw;
    }

    .first3DText {
      top: 22vw;
      left: 6vw;
    }

    .second3DText {
      left: 55vw;
      top: 53vw;
    }
  }

  .s_articlesAboutUsContainer {
    margin: 5vw 0 10vw;
    width: 100vw;

    .a_aboutUsSubTitle {
      font-size: 10vw;
      margin-bottom: 8vw;
      margin-left: 5vw;
    }

    .o_articlesSlider {
      width: 100vw;

      .a_arrowNavigation {
        height: 20vw;
        width: 9vw;
      }

      .m_aboutUsArticleCard  {
        width: 75vw;
        height: 45vw;
        border-radius: 3vw;
        margin-bottom: 3vw;
  
        .articleInnerCard {
          padding: 2vw;
          width: 45%;
          height: 50%;
          top: 19vw;
          h4 {
            font-size: 2.5vw;
          }
  
          a {
            font-size: 1.3vw;
          }
        }
      }
    }

    .a_sliderSwitcher {
      width: 18vw;
      
      .q_sliderbuttton {
        width: 2.5vw;
        height: 2.5vw;      
      }
    }
  }


}




}
/* */