input {
    all: unset;
  } 
  
  body {
      overflow-x: hidden;
  }
  
  .tests {
    width: 100vw;
    background-color: var(--white);
    padding: 2vw 4vw;
  
  
     /* titleBlock */
  
     .titleContainer {
      width: 80%;
      margin: 13vw auto 20vw;
      position: relative;
  
      h1 {
        font-size: 8vw;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
      }
  
      img {
        width: 15vw;
        height: 33vw;
        position: absolute;
      }
  
      #leftPillow {
        top: -12vw;
        left: -9vw;
      }
  
      #rightPillow {
        top: -11.5vw;
        left: 68vw;
      }
    }
  
    /* */
  
  
  }