input {
  all: unset;
} 

body {
    overflow-x: hidden;
}

.tests {
  width: 100vw;
  background-color: var(--white);
  padding: 2vw 0vw;

   /* titleBlock */

   .m_pageTitle {
    width: 80%;
    margin: 13vw auto 15vw;
    position: relative;

    .a_h1 {
      font-size: 10vw;
      text-transform: uppercase;
      font-weight: 600;
      text-align: center;
    }

    .q_decorationBracket {
      width: 15vw;
      height: 33vw;
      position: absolute;
    }

    #leftPillow {
      top: -11vw;
      left: 3vw;
    }

    #rightPillow {
      top: -11vw;
      left: 60vw;
    }
  }

  .upRound {
    position: absolute;
  }

  /* */

  /* tests */

  main {
    width: 100%;
  }

  .testsContainerBackground {
    background-color: var(--lightBlue);
    padding: 4vw 0;
    margin-top: -3vw;
    height: fit-content;
  }

  .c_allTests {
    width: 80%;
    height: fit-content;
    margin: 5vw auto 10vw;
  
    .s_testsType {
      width: 100%;
      height: fit-content;
      margin: 5vw auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 15vw;
      position: relative;
    }

    .a_testTypeName {
      position: absolute;
      z-index: 0;
      width: 120%;
      top: -12vw;
      text-wrap: nowrap;
      left: -10%;

      font-size: 19vw;
      opacity: 0.6;
      text-align: center;
      color: var(--white);
      text-transform: uppercase;
      font-family: druktextwidecyr;
    }


    .a_testName {
      font-size: 1.3vw;
      width: fit-content;

      padding: 1vw 1vw;
      background-color: var(--white);
      border-radius: 0.5vw;

      line-height: 1.25vw;
      position: absolute;
      left: 1vw;
      bottom: 1vw;
      font-weight: 600;
      width: 65%;
    }

    .o_testCard {
      width: 30%;
      height: 35vw;
      background-color: var(--hoverWhite);
      border-radius: 1.5vw;
      
      background-size: 100% 110%; 
      position: relative;
      display: flex;
      margin-bottom: 2vw;
      z-index: 12;
  
      .a_testsOpenButton {
        width: 4vw;
        height: 4vw;
        border-radius: 100%;
        background-color: var(--white);
        position: absolute;
        
        right: 1vw;
        top: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
  
        .q_testsOpenIcon {
          width: 1.5vw;
          height: 1.5vw;
          pointer-events: none;
        }

      }   
    }
  }


  /* ShareBlock */

  footer {
    margin-top: -5vw;
    position: relative;
    z-index: 898;
  }

  .o_shareResults {
    width: 100%;
    height: 45vw;
    background-color: var(--lightBlue);
    overflow: hidden;
    position: relative;
    padding-top: 5vw;

    .backgroundHalfCircle {
      width: 100%;
      height: 50vw;
      background-color: var(--white);
      border-top-left-radius: 100vw;
      border-top-right-radius: 100vw;

      
      .a_preFooterText {
        font-size: 2.2vw;
        color: var(--black);
        font-family: druktextwidecyr;
        text-align: center;
        padding-top: 13vw;
      }

      .w_socialMedia {
        margin:  4vw auto;
        display: flex;
        width: 15%;
        justify-content: space-between;

        .a_socialButton {
          width: 5vw;
          height: 5vw;
        }

        .vk {
          background-image: url("../images/tests/vk.svg");
          background-size: 100%;
        }

        .tg {
          background-image: url("../images/tests/tg.svg");
          background-size: 100%;
        }
      }
    }

    .q_decorationCirclesImages {
      width: 10vw;
      height: 10vw;
      background-size: 100%;
      border-radius: 100%;
      position: absolute;
      transform-origin: 50vw 30vw;
      top: 27vw;
      left: 0vw;
      overflow: hidden;

      .shareCircleImg {
        width: 10vw;
        height: 10vw;
      }
    }


    #circle1 {
      transform: rotate(10deg);
      img {
        transform: rotate(-10deg);
      }
    }

    #circle2 {
      transform: rotate(24.5deg);
      img {
        transform: rotate(-24.5deg);
      }
    }

    #circle3 {
      transform: rotate(39deg);
      img {
        transform: rotate(-39deg);
      }
    }

    #circle4 {
      transform: rotate(53.5deg);
      img {
        transform: rotate(-53.5deg);
      }
    }

    #circle5 {
      transform: rotate(68deg);
      img {
        transform: rotate(-68deg);
      }
    }

    #circle6 {
      transform: rotate(82.5deg);
      img {
        transform: rotate(-82.5deg);
      }
    }

    #circle7 {
      transform: rotate(97deg);
      img {
        transform: rotate(-97deg);
      }
    }

    #circle8 {
      transform: rotate(111.5deg);
      img {
        transform: rotate(-111.5deg);
      }
    }

  }


/* */

}

/* mobileTestsVer */

.tests {
  .testsContainerBackground {
    margin-top: 4vw;
    position: relative;
    overflow: hidden;

    .testsContainerMobile {
      width: 100vw;
      height: 95vw;
      overflow: hidden;
      position: relative;
      margin: 12vw auto 2vw;

      .mobileCardsLine {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-wrap: nowrap;
        position: absolute;
        left: -290vw;
        transition: all 0.5s ease-in-out;

        .o_testCard {
          width: 70vw;
          height: 90vw;
          margin-right: 6vw;
          border: 0.6vw var(--white) solid;
          border-radius: 3vw;
          transition: all 0.5s ease-in-out;
          

          opacity: 0.5;

          .a_testName {
            font-size: 3.5vw;
            line-height: 3.5vw;
            width: 70%;
            bottom: 2vw;
            left: 2vw;
            padding: 2vw 2vw;
            border-radius: 2vw;
          }

          .a_testsOpenButton {
            width: 9vw;
            height: 9vw;
            right: 2vw;
            top: 2vw;

            img {
              width: 5vw;
              height: 5vw;
            }
          }
        }

        .choosen {
          opacity: 1;
          width: 70vw;
          height: 95vw;
          transition: all 0.5s ease-in-out;
        }
      }
    }



      .a_testSwitcherButton {
        width: 40vw;
        height: 40vw;
        background-color: var(--white);
        border-radius: 100%;
        position: absolute;
        top: 40vw;
        z-index: 111;
        display: none;

        .q_navigationArrow {
          width: 10vw;
          height: 10vw;
          margin-top: 14vw;
          pointer-events: none;
        }
      }

      #ArrLeft {
        left: -20vw;

        img {
          transform: rotate(180deg);
          margin-left: 23vw;
        }
      }

      #ArrRight {
        right: -20vw;

        img {
          margin-left: 7.5vw;
        }
      }
    

  }
}

/* */

@media (max-width: 695px) {
  
  .tests {
    .m_pageTitle {
      margin: 20vw auto 15vw auto;
      .a_h1 {
        font-size: 14vw;
      }

      #leftPillow {
        left: -5vw;
      }

      #rightPillow {
        left: 70vw;
      }
    }

    .testsContainerBackground {

      .a_testSwitcherButton {
        display: block;
      }
    }
    

    .o_shareResults {
      height: fit-content;
      padding-top: 5vw;

      .backgroundHalfCircle {
        border-top-left-radius: 5vw;
        border-top-right-radius: 5vw;
        height: 75vw;
        position: relative;

        .w_socialMedia {
          width: 28%;
          margin: 5vw auto 17vw auto;

          .a_socialButton {
            width: 12vw;
            height: 12vw;
            background-size: 12vw 12vw;
          };
        }

        .a_preFooterText {
          font-size: 4vw;
          padding-top: 26vw;
          line-height: 5vw;
        }
      }

      #circle1 {
        display: none;
      }
      #circle2 {
        display: none;
      }
      #circle3 {
        display: none;
      }
      #circle4 {
        display: none;
      }

      #circle5 {
        transform: none;
        top: 11vw;
        left: 16vw;
        width: 16vw;
        height: 16vw;
        animation: shake1 1.8s linear infinite;

        img {
          width: 16vw;
          height: 16vw;
          transform: none;
        }
      }

      #circle6 {
        transform: none;
        top: 12vw;
        left: 57vw;
        width: 13vw;
        height: 13vw;
        animation: shake2 1.8s linear infinite;

        img {
          width: 13vw;
          height: 13vw;
          transform: none;
        }
      }

      #circle7 {
        transform: none;
        top: 53vw;
        left: 7vw;
        width: 19vw;
        height: 19vw;
        animation: shake3 1.8s linear infinite;

        img {
          width: 19vw;
          height: 19vw;
          transform: none;
        }
      }

      #circle8 {
        transform: none;
        top: 44vw;
        left: 78vw;
        width: 16vw;
        height: 16vw;
        animation: shake4 1.8s linear infinite;

        img {
          width: 16vw;
          height: 16vw;
          transform: none;
        }
      }
    }

    footer {
      margin: 0;
    }
  }
  
}