
/* navigation */

.o_menubarContainer {
  
  /* desktop */

  &#pcNav {
    width: 90%;
    margin: 0vw auto;
    display: none;
  }
  
  /* */

  /* mobile */

  &#mobileNav {
    position: fixed;
    width: 100vw;
    z-index: 999999999999999999;
    height: 15vw;
    background-color: var(--white);
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
    display: none;

    top: 0;
    transition: all 0.31s ease-in-out;

    .w_headerNavigationList {
      display: flex;
      width: 90%;
      margin: 1vw auto;
      justify-content: space-between;
      align-items: center;
      height: 13vw;
    }

    .a_navigationLogo {
      width: 16.5vw;
      height: 17vw;
      background-image: url("../images/aboutUs/logoHeader.webp");
      background-size: 120% 100%;
      transition: all 0.2s ease-in-out;
      background-repeat: no-repeat;
    }
  }
}

/* */

/* about us */

.o_aboutUsTitle {
  width: 90%;
  margin: 7vw auto 0 auto;
}

.o_articlesSlider {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.o_articleCard {
  width: 100%;
  height: 35vw;
  background-color: var(--blue);
  border-radius: 1.5vw;
  background-size: 100% 110%; 
  position: relative;
  display: flex;
}

.o_articleCardRotated {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  position: absolute;
  border-radius: 1.5vw;
  display: flex;
  justify-content:flex-start;
  align-items: end;

  top: 0;
  left: 0;
  padding: 1vw;
}

.o_mainAboutUsContainer {
  width: 100vw;
  height: 50vw;
  overflow: hidden;
  position: relative;

  z-index: -1;
  margin-top: -4vw;
}

/* */

/* tests*/

.o_testsContainerBackground {
  background-color: var(--lightBlue);
  height: fit-content;

  padding: 0vw 0 1vw 0;
  margin-top: -3vw;
}

.o_shareResults {
  width: 100%;
  height: 45vw;
  background-color: var(--lightBlue);
  overflow: hidden;
  position: relative;
  padding-top: 5vw;
}

.o_testCard {
  width: 30%;
  height: 35vw;
  background-color: var(--hoverWhite);
  border-radius: 1.5vw;
  background-size: 100% 110%; 
  position: relative;
  display: flex;

  margin-bottom: 2vw;
  z-index: 12;
}

/* */

/* choosenTest */

  .o_choosenTestCard {
    width: 37%;
    height: 40vw;
    background-color: var(--hoverWhite);
    border-radius: 1.5vw;
    
    background-size: 100% 110%; 
    position: relative;
    display: flex;

    margin-bottom: 2vw;
  }


/* */

/* preview */

.o_previewCard {
  width: 90%;
  height: 25vh;
  border-radius: 2vw;
  background: var(--blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);	
  background-color: rgba(183, 194, 218, 0.41);
  backdrop-filter: blur(8px);

  margin: auto;
}

body {
  &.preview {
    .o_menubarContainer {
        &#mobileNav{
          position: fixed;
          width: 100vw;
          z-index: 999999999999999999;
          top: 0;
          height: 15vw;
          transition: all 0.31s ease-in-out;
          background-color: transparent;

          .a_navigationLogo {
            width: 14.5vw;
            height: 15vw;
            background-image: url("../images/preview/logo.svg");
            background-size: 78% 78%;
            background-position: 20% 50%;
            background-repeat: no-repeat;

            transition: all 0.2s ease-in-out;
          }

          .q_burgerIcon {
            span {
              background-color: var(--white);
            }
          }
        }

      &#pcNav {

        .a_navigationCategory {
          font-family: "unbounded";
          color: var(--white);
          font-weight: 600;
          font-size: 1.5vw;

          transition: all 0.25s ease;
        }
    
        .a_navigationCategory:hover {
          opacity: 0.6;

          transition: all 0.25s ease;
        }

        .a_navigationLogo {
          background-image: url("../images/preview/logo.svg");
          background-size: 78% 78%;
          background-position: 20% 50%;
          background-repeat: no-repeat;

          transition: all 0.2s ease-in-out;
        }
      }
    }
  }
}

/* */

/* 404 */

.o_404 {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* */

/* testResult */

.o_resultsAll {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 88%;
  margin: 1vw auto;
}

/* */

/* styleguide */

.o_styleguideAndNav{
  width: 100%;
  height: 1150vw;
  display: flex;
  justify-content: space-between;
}

.o_styleGuide {
  width: 80%;
  height: 20vw;
  display: flex;
  flex-wrap: wrap;

  transition: all 0.4s ease-in-out;
}

.o_styleguideTips {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  margin-bottom: 8vw;
}

/* */

/* article1 */

.o_articleChoosen {
  width: 80%;
  height: 40vw;
  border-radius: 3vw;
  background-image: url("../images/articles/article1.webp");
  background-size: 100% 290%;
  background-position: 0 -35vw;
  margin: 2vw auto;
  position: relative;

  &.second {
    background-image: url("../images/articles/articleChoosenImg14.webp");
    background-size: 120% 120%;
    background-position: 0 -5vw;
  }
}

.o_articleChoosenSection {
  margin-bottom: 3vw;

  &.recommendations {
    .a_articleChoosenH2 {
      margin: 4vw auto
    }
  }
}

.o_anotherArticle {
  position: relative;
  width: 23%;
  height: 25vw;
  background-size: 100%;
  border-radius: 1.5vw;
  margin-right: 2vw;
  
  &:nth-child(4n) {
    margin-right: 0vw;
  }

  &#anotherArticle1 {
    background-image: url("../images/articles/article5.webp");
  }
  &#anotherArticle2 {
    background-image: url("../images/articles/article6.webp");
  }
  &#anotherArticle3 {
    background-image: url("../images/articles/article7.webp");
  }
  &#anotherArticle4 {
    background-image: url("../images/articles/article8.webp");
  }

  &.second {
    &#anotherArticle1 {
      background-image: url("../images/articles/article5.webp");
    }
    &#anotherArticle2 {
      background-image: url("../images/articles/article6.webp");
    }
    &#anotherArticle3 {
      background-image: url("../images/articles/article1.webp");
    }
    &#anotherArticle4 {
      background-image: url("../images/articles/article8.webp");
    }
  }
}

/* */





/* adaptive */

@media (max-width: 1000px) and (min-width: 850px) {

  /*choosenTest */ 

  .o_choosenTestCard {
    width: 45%;
    height: 48vw;
    background-color: var(--hoverWhite);
    border-radius: 1.5vw;
    background-size: 100% 120%; 
    background-position: 0 -4vw;
    position: relative;
    display: flex;
    
    margin-bottom: 2vw;
  }

  /* */

  /* preview */

  .o_previewCard {
    border-radius: 2vw;
  }

  /* */

  /* testResult */

  .o_resultsAll {
    width: 78%;
  }

  /* */

}

@media (max-width: 850px) and (min-width: 695px) {

/*choosenTest */ 

  .o_choosenTestCard { 
      width: 47%;
      height: 50vw;
      background-color: var(--hoverWhite);
      border-radius: 1.5vw;
      background-size: 100% 110%; 
      position: relative;
      display: flex;

      margin-bottom: 2vw;
  }

  /* */

  /* preview */

  .o_previewCard {
    border-radius: 2vw;
  }

  /* */
}

@media (max-width: 695px) {

  /*about us */ 

  .o_aboutUsTitle {
    width: 90%;
  }

  .o_articlesSlider {
    width: 100vw;
  }

  .o_mainAboutUsContainer {
    height: 78vw;
  }
  
  /* */

  /* articles */

  .o_articleCardRotated {
    padding: 2vw;
  }

  /* */

  /* tests */

  .o_testsContainerBackground {
    margin-top: 4vw;
    position: relative;
    overflow: hidden;
  }

  .o_testCard {
    width: 70vw;
    height: 90vw;
    margin-right: 6vw;
    border: 0.6vw var(--white) solid;
    border-radius: 3vw;

    transition: all 0.5s ease-in-out;
    opacity: 0.5;

    &.choosen {
      opacity: 1;
      width: 70vw;
      height: 95vw;

      transition: all 0.5s ease-in-out;
    }
  }

  .o_shareResults {
    height: fit-content;
    padding-top: 5vw;
  }

  /* */

  /* 404 */

  .o_404 {
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    margin-top: 38vw;
  }
  
  /* */

}

@media (max-width: 695px) and (min-width: 500px) {

  /* choosenTest */

  .o_choosenTestCard {
    width: 100%;
    height: 30vw;
    border-radius: 2vw;
    background-size: 100% 330%; 
    background-position: 0vw -30vw;

    margin-bottom: 5vw;
  }

  /* */

  /* preview */

  .o_previewCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    height: 32vh;
    border-radius: 3vw;

    padding: 1.8vw;
  }

  /* */

  /* testResult */

  .o_resultsAll {
    margin-top: 17vh;
    display: flex;
    flex-direction: column;
  }

  /* */


}

@media (max-width: 500px) {

  /* choosenTest */

  .o_choosenTestCard {
    width: 100%;
    height: 43vw;
    border-radius: 2vw;
    background-size: 100% 300%; 
    background-position: 0vw -5vw;

    margin-bottom: 5vw;
  }

  /* */

  /* preview */

  .o_previewCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    height: 30vh;
    border-radius: 3vw;

    padding: 1.8vw;
  }

  /* */

  /* testResult */

  .o_resultsAll {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
  }

  /* */

}