/* navigation */

.q_logoAnimation {
  background-color: var(--white);
  width: 40vw;
}

.q_burgerIcon {
  display: block;
  width: 12vw;
  position: relative;

  margin: 0vw auto;

  span {
    display: block;
    width: 11vw;
    height: 1.2vw;
    border-radius: 10px;
    background-color: var(--blue);

    top: 0;
    margin-bottom: 1.9vw;
    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  span:nth-child(3) {
    margin-bottom: 0vw;
  }

  &.open {
    span:nth-child(2) {
      opacity: 0;
      }
    
      span:nth-child(1) {
        transform: rotate(45deg);
        background-color: var(--white);

        top: 0vw;
        margin-bottom: -4vw;
      }
    
      span:nth-child(3) {
        transform: rotate(-45deg);
        background-color: var(--white);

        top: -0vw;
        margin-bottom: -4vw;
      }
  }
}

/* */

/* about us */

.q_decorationBracketLeft {
  position: absolute;
  width: 17vw;

  left: -17vw;
  top: -13vw;
}

.q_decorationBracketRight {
  position: absolute;
  width: 17vw;

  left: 57vw;
  top: -12vw;
}

.q_sliderbuttton {
  width: 1.2vw;
  height: 1.2vw;
  opacity: 0.6;
  background-image: url("../images/aboutUs/blueTexture2.webp");
  background-size: 100% 100%;
  border-radius: 100%;

  &.picked {
    opacity: 0.8;
    background-image: url("../images/aboutUs/blackTexture2.webp");
  }
}

.q_aboutUsVideo {
  position: absolute;
  width: 110vw;

  top: -10vw;
  left: -5vw;
}

.q_3dTextVideo {
  position: absolute;
  width: 115vw;

  top: -13vw;
  left: -10vw;
}

/* */

/* articles */

.q_decorationBracket {
  width: 15vw;
  height: 33vw;
  position: absolute;

  &#leftPillow {
    top: -11vw;
    left: 0vw;
  }

  &#rightPillow {
    top: -11vw;
    left: 65vw;
  }
}

.q_decorationLetter {
  width: 6vw;
  height: 6vw;
  position: absolute;

  &#o {
    left: 13vw;
    top: -1vw;
    opacity: 0.8;
  }
  
  &#m {
    left: 36.5vw;
    top: -1vw;
    opacity: 0.8;
  }
  
  &#b {
    left: 49.5vw;
    top: -1vw;
    opacity: 0.95;
  }

  &:hover {
    width: 6.3vw;
    height: 6.3vw;
    transition: all 0.2s ease-in-out;
  }
}

.q_circlesImage {
  position: absolute;
  border-radius: 100%;

  &#circ1 {
    width: 12vw;
    height: 12vw;
    background-image: url("../images/articles/circ1.webp");
    background-size: 110%;
    background-position: -1vw -4vw;
    animation: shake1 1.8s linear infinite;

    left: 21vw;
    top: -16vw;
  }

  &#circ2 {
    width: 9vw;
    height: 9vw;
    background-image: url("../images/articles/circ2.webp");
    background-size: 110%;
    background-position: -1vw -3vw;
    animation: shake3 1.8s linear infinite;

    left: 65vw;
    top: -13vw;
  }

  &#circ3 {
    width: 16vw;
    height: 16vw;
    background-image: url("../images/articles/circ3.webp");
    background-size: 105%;
    background-position: -1vw -6vw;
    animation: shake4 1.8s linear infinite;

    left: 58vw;
    top: 7vw;
  }

  &#circ4 {
    width: 10vw;
    height: 10vw;
    background-image: url("../images/articles/circ4.webp");
    background-size: 105%;
    background-position: 1vw -1vw;
    animation: shake4 1.5s linear infinite;

    left: 80vw;
    top: 7vw;
  }
}

.q_articlesTagsOpen {
  pointer-events: all;
  width: 3vw;
  cursor: pointer;
}

.q_articlesOpenIcon {
  width: 1.5vw;
  height: 1.5vw;
}

.q_articlesDescriptionIcon {
  width: 1.5vw;
  height: 1.5vw;
}

/* */

/* circles animation */

@keyframes shake1 {
  0% { transform: translate(2px, 3px) }
  50% { transform: translate(-2px, 3px) }
  100% { transform: translate(2px, 3px) }
}

@keyframes shake2 {
  0% { transform: translate(-3px, 2px) }
  50% { transform: translate(3px, -2px) }
  100% { transform: translate(-3px, 2px) }
}

@keyframes shake3 {
  0% { transform: translate(-1px, 3px) }
  50% { transform: translate(3px, -2px) }
  100% { transform: translate(-1px, 3px) }
}

@keyframes shake4 {
  0% { transform: translate(2px, 1px) }
  50% { transform: translate(-3px, 3px) }
  100% { transform: translate(2px, 1px) }
}

/* */

/* tests */

.q_testsOpenIcon {
  pointer-events: none;

  width: 1.5vw;
  height: 1.5vw;
}

.q_decorationCirclesImages {
  width: 10vw;
  height: 10vw;
  background-size: 100%;
  border-radius: 100%;
  position: absolute;
  overflow: hidden;

  transform-origin: 50vw 30vw;
  top: 27vw;
  left: 0vw;

  &#circle1 {
    transform: rotate(10deg);
    img {
      transform: rotate(-10deg);
    }
  }

  &#circle2 {
    transform: rotate(24.5deg);
    img {
      transform: rotate(-24.5deg);
    }
  }

  &#circle3 {
    transform: rotate(39deg);
    img {
      transform: rotate(-39deg);
    }
  }

  &#circle4 {
    transform: rotate(53.5deg);
    img {
      transform: rotate(-53.5deg);
    }
  }

  &#circle5 {
    transform: rotate(68deg);
    img {
      transform: rotate(-68deg);
    }
  }

  &#circle6 {
    transform: rotate(82.5deg);
    img {
      transform: rotate(-82.5deg);
    }
  }

  &#circle7 {
    transform: rotate(97deg);
    img {
      transform: rotate(-97deg);
    }
  }

  &#circle8 {
    transform: rotate(111.5deg);
    img {
      transform: rotate(-111.5deg);
    }
  }

  .shareCircleImg {
    width: 10vw;
    height: 10vw;
  }
}

/* */

/* choosenTest */

.q_testsGoBack {
  width: 2vw;
  height: 2vw;
  pointer-events: none;

  &.anotherArticles {
    transform: rotate(0deg);
    width: 2.3vw;
    height: 2.3vw;
  }

  &.big {
    width: 3vw;
    height: 3vw;
  }
}

/* */

/* testUI */

.q_testBackgroundImage {
  position: absolute;
  width: 33vw;

  z-index: -1;
  left: 35%;
}

/* */

/* preview */

.q_backgroundVideo {
  position: absolute;
  z-index: -1;
  opacity: 0.95;
  display: none;
}

.pc {
  width: 113vw;
  left: -4.1vw;
  top: -14vw;
  display: none;
}

.tel {
  display: none;
}

.telMIn {
  display: none;
}

/* */

/* 404 */

.q_404Img {
  margin-top: -3vw;
  width: 58%;
  margin-bottom: 2vw;
}

/* */

/* testResult */

.q_imageTestResult {
  width: 35%;
  border-radius: 2vw;
}

/* */

/* styleguide */

.q_styleguideColorRule {
  width: 12.5vw;
  height: 12.5vw;
  border-radius: 1.5vw;
  display: flex;
  justify-content: center;

  &.black {
    background-color: var(--black);
  }

  &.blue {
    background-color: var(--blue);
  }

  &.white {
    background-color: var(--white);
    border: 0.2vw solid var(--black);
  }

  &.lightBlue {
    background-color: var(--lightBlue);
  }
}

.q_styleguideColorRuleMinRec {
  width: 7vw;
  height: 7vw;
  border-radius: 1.5vw;

  margin-top: auto;
  margin-bottom: auto;

  &.black {
    background-color: var(--black);
  }

  &.blue {
    background-color: var(--blue);
  }

  &.white {
    background-color: var(--white);
    border: 0.2vw solid var(--black);
  }

  &.lightBlue {
    background-color: var(--lightBlue);
  }

  &.noBorder {
    border: 0vw;
  }
}

.q_imagesStyleGuide {
  width: 35%;

  margin-bottom: 2.5vw;

  img {
    width: 92%;
  }

  &#graphicsSecond {
    margin-top: 6vw;
  }

  &.photoStyle {
    img {
      width: 90%;
      border-radius: 1.5vw;
    }
  }
}

.q_styleguideMockup {
  width: 85.5%;
  border-radius: 1.5vw;

  margin-bottom: 2vw;
}

.q_styleguideVideo {
  position: absolute;
  width: 110vw;

  top: -10vw;
  left: -6vw;
  z-index: -1;
}

.q_backgroundBorderRadius {
  background-color: var(--white);
  height: 5vw;
  width: 100vw;

  &.upRound {
    border-bottom-right-radius: 3vw;
    border-bottom-left-radius: 3vw;
  }

  &.downRound {
    border-top-right-radius: 3vw;
    border-top-left-radius: 3vw;

    margin-top: -3vw;
    margin-bottom: 8vw;
  }

  &.topTests {
    margin-bottom: 18vw;
  }
  
}

/* */

/* article1 */

.q_gradient {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3vw;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgb(54,54,69);
  background: linear-gradient(180deg, rgba(54,54,69,0.5293943260898109) 0%, rgba(255,255,255,0) 43%);
}

.q_timeIcon {
  width: 3vw;
  height: 3vw;
}

.q_articleChoosenImg {
  width: 85%;
  margin: 3vw 0;
}

.q_articleChoosenDecorImg {
  margin-right: 1vw;
  
  &.rem {
    height: 7vw;
  }

  &.nonrem {
    height: 6.7vw;
  }
}

.q_articleChoosenImg {
  border-radius: 2vw;

  &.first {
    width: 54%;
  }

  &.second {
    width: 45%;
  }
}

.q_articleChoosenFactsImages {
  border-radius: 2vw;
  &#factsImages1 {
    width: 100%;
    height: 18vw;
  }

  &#factsImages2 {
    width: 35%;
    height: 21vw;
  }

  &#factsImages3 {
    width: 60%;
    height: 21vw;
  }
}

/* */

/* article2 */

.q_articleFactsBlockImage {
  width: 100%;
  border-radius: 3vw;
}

.q_backgroundBorderRadius {

  &.second {
    padding-top: 27vw;
    margin-top: -5vw;
  }

  &.third {
    margin-top: -5vw;
  }
}

/* */




/* adaptives */


@media (max-width: 1200px) and (min-width: 1000px) {

  /* choosenTest  */

  .q_testsGoBack {
    position: absolute;

    left: 23%;
    z-index: -1;
  }

  /* */

  /* testUI */

  .q_testBackgroundImage {
    position: absolute;
    width: 40vw;
    left: 32%;
    z-index: -1;
  }

  /* */
      
}

@media (max-width: 1000px) and (min-width: 850px) {

  /*choosenTest */ 

  .q_testsGoBack {
    width: 3vw;
    height: 3vw;
    pointer-events: none;
    left: 0;
  }

  /* */

  /* testUI */

  .q_testBackgroundImage {
    width: 45vw;
    left: 25%;
  }

  /* */

  /* 404 */

  .q_404Img {
    width: 74%;
  }

  /* */

  /* testResult */

  .q_imageTestResult {
    width: 48%;
  }

  /* */


}

@media (max-width: 850px) and (min-width: 695px) {

  /*choosenTest */ 

  .q_testsGoBack {
    width: 3.5vw;
    height: 3.5vw;
  }

  /* */

  /* testUI */

  .q_testBackgroundImage {
    position: absolute;
    z-index: -1;
    width: 55vw;
    left: 25%;
  }

  /* */

  /* testResult */

  .q_imageTestResult {
    width: 48%;
  }

  /* */

}

@media (orientation: portrait) {
  
  /* about us */

  .q_decorationBracketLeft {
    left: -15vw;
  }

  .q_decorationBracketRight {
    left: 67.5vw;
  }

  .q_sliderbuttton {
    width: 2.5vw;
    height: 2.5vw;      
  }

  .q_aboutUsVideo {
    width: 140vw;

    top: -7vw;
    left: -18vw;
  }

  .q_3dTextVideo {
    width: 140vw;
    left: -24vw;
    top: -8vw;

  }

  /* */

  /* articles */

  .q_decorationBracket {

    &#leftPillow {
      left: -6vw;
    }

    &#rightPillow {
      left: 71.5vw;
    }
  }

  .q_decorationLetter {

    &#o {
      left: 4.2vw;
      top: -1vw;
      opacity: 0.8;
    }

    &#m {
      left: 27.5vw;
      top: -1vw;
      opacity: 0.8;
    }
    
    &#b {
      left: 40.3vw;
      top: -1vw;
      opacity: 0.95;
    }

    #oS {
      left: 16.5vw;
      top: -1vw;
      opacity: 0.8;
    }

    #mS {
      left: 65vw;
      top: -1vw;
      opacity: 1;
    }

    #bS {
      left: 37vw;
      top: 10vw;
      opacity: 1;
    }

    #eS {
      left: 35.5vw;
      top: 16vw;
      opacity: 1;
    }
  }

  .q_articlesTagsOpen {
    width: 8vw;
  }

  .q_articlesOpenIcon {
    width: 6vw;
    height: 6vw;
  }

  .q_articlesDescriptionIcon {
    width: 5vw;
    height: 5vw;
  }

  /* */

  /* tests */

  .q_testsOpenIcon {
    width: 5vw;
    height: 5vw;
  }

  .q_navigationArrow {
    width: 10vw;
    height: 10vw;
    pointer-events: none;

    margin-top: 14vw;

  }

  .q_backgroundBorderRadius {
    &.topTests {
      margin-bottom: 8vw;
    }
    
  }
  
  .q_decorationCirclesImages {
    &#circle1 {
      display: none;
    }
    &#circle2 {
      display: none;
    }
    &#circle3 {
      display: none;
    }
    &#circle4 {
      display: none;
    }

    &#circle5 {
      width: 16vw;
      height: 16vw;

      transform: none;
      top: 11vw;
      left: 16vw;
      animation: shake1 1.8s linear infinite;

      img {
        width: 16vw;
        height: 16vw;

        transform: none;
      }
    }

    &#circle6 {
      width: 13vw;
      height: 13vw;

      transform: none;
      top: 12vw;
      left: 57vw;
      animation: shake2 1.8s linear infinite;

      img {
        width: 13vw;
        height: 13vw;

        transform: none;
      }
    }

    &#circle7 {
      width: 19vw;
      height: 19vw;

      transform: none;
      top: 53vw;
      left: 7vw;
      animation: shake3 1.8s linear infinite;

      img {
        width: 19vw;
        height: 19vw;

        transform: none;
      }
    }

    &#circle8 {
      width: 16vw;
      height: 16vw;

      transform: none;
      top: 44vw;
      left: 78vw;
      animation: shake4 1.8s linear infinite;

      img {
        width: 16vw;
        height: 16vw;
        
        transform: none;
      }
    }
  }

  /* */

}

@media (max-width: 695px) and (min-width: 500px) {

  /* choosenTest */

  .q_testsGoBack {
    width: 4vw;
    height: 4vw;
  }

  /* */

  /* testUI */

  .q_testBackgroundImage {
    position: absolute;
    z-index: -1;
    width: 60vw;
    left: 20%;
  }

  /* */

  /* 404 */

  .q_404Img {
    width: 85%;
  }

  /* */

  /* testResult */

  .q_imageTestResult {
    width: 100%;
  } 

/* */

/* article */

  .q_timeIcon {
    width: 4vw;
    height: 4vw;
  }

  /* */


}


@media (max-width: 500px) {

  /* choosenTest */

  .q_testsGoBack {
    width: 4.5vw;
    height: 4.5vw;

    &.big {
      width: 5.5vw;
      height: 5.5vw;
    }
  }

  /* */

  /* testUI */

  .q_testBackgroundImage {
    position: absolute;
    z-index: -1;
    width: 67vw;
    left: 15%;
  }

  /* */

  /* 404 */

  .q_404Img {
    width: 85%;
    margin-bottom: 6vw;
  }

  /* */

  /* testResult */

  .q_imageTestResult {
    width: 100%;
  } 

  /* */

  /* article */

  .q_timeIcon {
    width: 5vw;
    height: 5vw;
}

  /* */

}

/* */






/* preview adaptives */

@media (min-width: 1250px) {
  .q_backgroundVideo {
    &.pc {
      width: 113vw;
      left: -4.1vw;
      display: block;
    }
  }
}

@media (max-width: 1250px) and (min-width: 1000px) {
  .q_backgroundVideo {
    &.pc {
      width: 135vw;
      left: -14vw;
      display: block;
    }
  }
}

@media (max-width: 1000px) and (min-width: 808px){
  .q_backgroundVideo {
    &.pc {
      width: 165vw;
      left: -33vw;
      display: block;
      top: -15.5vw;
    }
  }
}

@media (max-width: 808px) and (min-width: 600px) {
  .q_backgroundVideo {
    &.pc {
      display: none;
    }

    &.tel {
      width: 133vw;
      left: -19vw;
      top: -52vw;
      display: block;
    }
  }
}

@media (max-width: 600px) and (min-width: 520px) {
  .q_backgroundVideo {
    &.pc {
      display: none;
    }

    &.telMin {
      width: 160vw;
      left: -30vw;
      top: -76vw;
      display: block;
    }
  }
}


@media (max-width: 520px) and (min-width: 350px) {
  .q_backgroundVideo {
    &.pc {
      display: none;
    }

    &.tel {
      display:  none;
    }

    &.telMin {
      display: block;
      width: 164vw;
      left: -30vw;
      top: -75vw;
    }
  }
}

/* */